div.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.input-container {
    flex-grow: 3;
}

div.filter-container button {
    flex-grow: 1;
}

div.mask-toggle {
    padding: 5px;
}

div.color-preview {
    height: 25px;
}
