extends layout.pug

block append stylesheets
    link(rel='stylesheet', href='/style/base.min.css')
    link(rel='stylesheet', href='/style/index.min.css')

block content
    div.container
        session-list
