doctype html
html(ng-app='spinevis')
    head
        //- These 3 <meta> headers must come first
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        block title
            title(ng-bind='Page.title() ? Page.title() : "spinevis"')

        block stylesheets
            link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet")
            link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
            link(rel='stylesheet', href='/style/base.min.css')
            link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

        block scripts
            script(src='/scripts/polyfills.js')
            script(src='/scripts/vendor.js')
            script(src='/scripts/app.js')

    body
        block header
            header: a.text-center(href='/') spinevis

        main
            noscript: p This site requires JavaScript, please enable it to continue
            md-content
                block content

        block footer
            footer
                div.container
                    p.text-muted Copyright &copy; Svoboda Lab #{year}. Requires Edge 14, Firefox 51, Chrome 56, Safari 9.1 or Opera 42
