doctype html
html(ng-app=appName)
    head
        //- These 3 <meta> headers must come first
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        block title
            title= appName

        block stylesheets
            link(href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Mono" rel="stylesheet")

        block scripts
            script(src='/scripts/jspm_packages/system.js')
            script(src='/scripts/config.js')
            script.
                System.import('/scripts/app.module.js');


    body
        block header
            header: a.text-center(href='/') &lt;spinevis /&gt;

        main
            block content

        block footer
            footer
              div.container
                span.text-muted
                 | Copyright &copy; Svoboda Lab #{year}
