extends layout.pug

block append stylesheets
    link(rel='stylesheet', href='/style/session.min.css')

block prepend scripts
    script(src='https://cdn.plot.ly/plotly-latest.min.js')
    script.
        var sessionId = "#{id}";

block content
    session-vis
