extends layout.pug

block append stylesheets
    link(rel='stylesheet', href='/style/base.min.css')
    link(rel='stylesheet', href='/style/session.min.css')

block prepend scripts
    script(src='https://cdn.plot.ly/plotly-latest.js')
    script.
        var sessionId = "#{id}";

block append scripts
    script.
        System.import('angularjs-slider/dist/rzslider.min.css!');

block content
    session-vis
