extends layout.pug

block append stylesheets
    link(rel='stylesheet', href='/style/base.min.css')

block prepend scripts
    script(src='https://cdn.plot.ly/plotly-latest.js')
    script.
        let sessionId = "#{id}";

block content
    session-vis
