div(ng-show="!$ctrl.criticalError")
    div.container-fluid.session-meta-container
        ul.text-center
            help
            li.session-meta(ng-repeat="meta in $ctrl.sessionFormattedMeta") {{meta}}

    div.container-fluid
        div.loading-overlay(ng-show='$ctrl.loading')
            p.loading-text Loading...
        div.row.top
            visual-settings.col-xs-2
            volume.col-xs-8
            mask-toggles.col-xs-2
        div.row
            timeline.col-xs-12

div(ng-show="$ctrl.criticalError")
    p.text-center.text-danger.big-bad-error-msg An error has occurred
