div.container-fluid.session-meta-container {
    padding: 0;
}

ul {
    background-color: #eeeeee;
    padding: 0;
}

li.session-meta {
    display: inline-block;
    margin: 8px;
    padding: 10px 20px;
    zoom: 1;
    background-color: #d7d7d7;
    border-radius: 2px;
}

p.big-bad-error-msg {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
}

help {
    position: relative;
    right: 60px;
}

div.loading-overlay {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

p.loading-text {
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

volume {
    min-height: 550px;
    height: 550px;
    padding: 0 !important;
}

/* Enough space for the volume component and controls */
div.top {
    height: 550px;
}

visual-settings {
    height: 550px;
    overflow-y: auto;
}

mask-toggles {
    overflow-y: scroll;
    overflow-x: auto;
    /* Same as div.top */
    height: 550px;
}
