h3 Interacting with the 3D figure

p <strong>Left click and drag</strong> to rotate
p <strong>Right click and drag</strong> to pan
p <strong>Scroll</strong> to zoom in and out


h3 Adding data

p You can choose a section of data focus on by using the <strong>toggles</strong>
 |  on the right side of the screen or <strong>clicking on a mask in the 3D figure</strong>.
 |  The fluorescence data for that section of the data will appear on the <strong>bottom plot</strong>.

h3 Visualization settings

p All visual settings are located on the <strong>left side of the screen</strong>.
 |  You can change the opacities of both the raw data and the masks using their
 |  sliders. The <strong>threshold slider</strong> changes the minimum and maximum
 |  required fluorescence for raw data to appear on the screen. An extra-low
 |  minimum threshold might result in non-data being shown, while an extra-high
 |  maximum threshold might result in no data being visible.

h3 Viewing data over time

p The <strong>bottom section</strong> of the screen is dedicated to viewing
 |  fluorescence as a function of time. You can explore the graph by using the
 |  tools at the top right of the plot.
