div.filter-container
    //- Wrap this in a div because the form-control class makes width=100%
    div.input-container
        input.form-control(ng-model='query' placeholder='Filter masks')
    button.btn.btn-default(ng-click='$ctrl.toggleAll()') Toggle all

div.mask-toggle.row(ng-repeat='mask in $ctrl.masks | filter:{displayName: query} | orderBy: "codeName" track by mask.codeName')
    p(ng-bind='mask.displayName')
    div.color-preview(ng-style='{"background-color": $ctrl.colors[mask.codeName]}')
    toggle(ng-model='mask.enabled' ng-change='$ctrl.toggled(mask)')
