div.filter-container
    //- Wrap this in a div because the form-control class makes width=100%
    div.input-container
        input.form-control(ng-model='query' placeholder='Filter masks')
    button.btn.btn-default(ng-click='$ctrl.toggleAll()') Toggle all

div.mask-toggle.row(ng-repeat='mask in $ctrl.masks | filter:{displayName: query} track by mask.codeName')
    p.col-xs-8(ng-bind='mask.displayName')
    div.color-preview.col-xs-2(ng-style='{"background-color": $ctrl.colors[mask.codeName]}')
    toggle.col-xs-2(ng-model='mask.enabled', ng-change='$ctrl.toggled(mask)')
