div(ng-repeat='mask in $ctrl.masks track by mask.codeName')
    p(ng-bind='mask.displayName').pull-left
    toggle(ng-model='mask.enabled', ng-change='$ctrl.toggled(mask)').pull-right
    div.clearfix
