div.container-fluid.session-meta-container
    ul.session-meta.text-center
        li(ng-repeat="meta in $ctrl.sessionFormattedMeta") {{meta}}


div.container-fluid#plot-timeline

div.container
    select(
        ng-model='$ctrl.selectedTrace'
        ng-options='name.codeName as name.displayName for name in $ctrl.unaddedTraces'
    )
