div.row
    datepicker.col-xs-6(date-format='{{$ctrl.dateFormat}}' date-max-limit='{{$ctrl.today()}}')
        input.form-control(
            ng-model='$ctrl.dateRange.start'
            placeholder='Date range start'
        )
    datepicker.col-xs-6(date-format='{{$ctrl.dateFormat}}' date-max-limit='{{$ctrl.today()}}')
        input.form-control(
            ng-model='$ctrl.dateRange.end'
            placeholder='Date range end'
        )

table.table.table-hover.table-striped(infinite-scroll='$ctrl.nextPage()' infinite-scroll-distance='1')
    tr
        th Animal
        th Start Date
        th Duration
        //- th Field of View
        th Run
        th Samples
        th Imaging Rate
    tr(ng-repeat="session in $ctrl.sessions")
        //- Nest an <a> in each <td> so that the row will be clickable when
        //- combined with some CSS magic
        td(ng-repeat="key in ['animal', 'startTime', 'duration', 'run', 'sampleCount', 'imagingRate']")
            a(href='/session/{{session.id}}') {{session[key]}}
