table.table.table-hover.table-striped
    tr
        th Animal
        th Start Date
        th Duration
        //- th Field of View
        th Run
        th Samples
        th Imaging Rate
    tr(ng-repeat="session in $ctrl.sessions")
        td {{session.Animal}}
        td {{session.start_time}}
        td {{session.duration}}
        //- td {{session.fieldOfView}}
        td {{session.Run}}
        td {{session.nSamples}}
        td {{session.volRate}}
