div(ng-show="!$ctrl.criticalError")
    div.container-fluid.session-meta-container
        ul.session-meta.text-center
            li(ng-repeat="meta in $ctrl.sessionFormattedMeta") {{meta}}

    div.container-fluid
        volume
        timeline

div(ng-show="$ctrl.criticalError")
    p.text-center.text-danger.big-bad-error-msg An error has occured
