div#plot-volume

div.options
    rzslider(
        rz-slider-model='$ctrl.sliders.threshold.model.lo'
        rz-slider-high='$ctrl.sliders.threshold.model.hi'
        rz-slider-options='$ctrl.sliders.threshold.options'
    )
