.filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    button {
        flex-grow: 1;
        height: 40px;
    }

    md-input-container {
        // Remove all bottom margin because it looks silly
        margin-bottom: 0;
        flex-grow: 3;
    }
}

.input-container {
    flex-grow: 3;
}

.mask-toggle {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    p {
        flex-grow: 10;
        margin-bottom: 0;
        margin-right: 5px;
    }

    .color-preview {
        flex-grow: 3;
        min-width: 10px;

        border-radius: 3px;
        border: 0.5px rgba(0, 0, 0, 0.28) solid;
    }

    md-switch {
        flex-grow: 1;
        align-self: flex-end;
        margin: 0 0 0 16px !important;
    }
}

.color-preview {
    min-width: 5px;
    max-width: 25px;
    height: 25px;
    padding: 0;
}

