html {
    position: relative;
    min-height: 100%;
    background-color: #FFF;
}

main {
    background-color: #FFF;
    /* Give the main content priority for the flex layout. Enables sticky footer. */
    flex-grow: 1;
}

body {
    /* Set margins to 0 to avoid drastic changes when Bootstrap loads */
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    min-height: 120px;
    line-height: 120px;
    text-align: center;

    /* Header gradient */
    background: #1f9e71; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #1f9e71 0%, #008b9b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #1f9e71 0%,#008b9b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #1f9e71 0%,#008b9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f9e71', endColorstr='#008b9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

header > a {
    color: #FFF;
    font-family: "Ubuntu Mono", monospace;
    font-size: 3em;
}

header > a:hover {
    color: #FFF;
    text-decoration: none;
}

footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center text */
    background-color: #eaeaea;
}
