mixin subcontrol(label, ngModel)
    small: strong.text-muted= label
    input.form-control(type='number' ng-model=ngModel)

form(ng-submit='save()' novalidate)
    div.row.subcontrol
        div.col-xs-6
            +subcontrol('Absolute Low', 'options.floor')
        div.col-xs-6
            +subcontrol('Absolute High', 'options.ceil')
    div.row.subcontrol
        div.col-xs-12
            +subcontrol('Step', 'options.step')
    div.row.subcontrol
        div.col-xs-12
            button.btn.btn-primary(ng-click='save()') Save

