
form.threshold-settings-dialog(ng-submit='save()' novalidate)
    div(layout='row')
        md-input-container(flex='50')
            label Absolute low
            input(required type='number' ng-model='options.floor')
        md-input-container(flex='50')
            label Absolute high
            input(required type='number' ng-model='options.ceil')

    md-input-container
        label Step
        input(required type='number' ng-model='options.step')

    md-button(type='submit') Save

