div.control {
    padding: 15px 10px;
}

div.subcontrol {
    padding: 2px 10px;
}

.inspect-timepoint {
    display: flex;
    flex-direction: row;
}

.inspect-timepoint input {
    flex-grow: 1;
}

.no-spacing {
    margin: 0;
}
