div.control {
    padding: 15px 10px;
}

div.subcontrol {
    padding: 2px 10px;
}

.inspect-timepoint {
    display: flex;
    flex-direction: row;

    input {
        flex-grow: 1;
    }
}


.no-spacing {
    margin: 0;
}

div.thresh-edit-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    i.material-icons {
        font-size: 14px;
        padding-left: 4px;
        color: rgba(0, 0, 0, 0.54);
        cursor: pointer;

        &:hover {
            color: rgba(0, 0, 0, 0.40);
        }
    }
}

.threshold-settings-dialog {
    margin: 15px;
}
